* {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: 'Ubuntu Condensed', sans-serif;
}

body{
  max-width: 769px;
  margin: 0 auto;
}

ul {
  list-style-type: none;
}

#intro {
  .picture {
    background: url("img/intro.png") no-repeat;
    background-size: cover;
    height: 250px;
    margin-bottom: 20px;
  }

  .description {
    padding: 0 25px;

    .heading {
      font-size: 21px;
      line-height: 1.3;
      width: 80%;
      margin-bottom: 30px;
    }

    li {
      margin-bottom: 30px;
      font-size: 15px;
    }

    .line {
      width: 100%;
      height: 2px;
      background: #C5976A;
    }
  }
}

#schedule {
  .heading {
    padding: 0 25px;
    margin-bottom: 20px;
  }

  .course {
    .picture{
      background-repeat: no-repeat;
      background-size: cover;
      height: 300px;
      position: relative;
      margin-bottom: 15px;
      .title{
        position: absolute;
        bottom: 0;
        width: 100%;
        background: rgba(224, 195, 169, 0.8);
        color: #FFFFFF;
        padding: 10px 20px;
        font-size: 21px;
        margin-bottom: 10px;
      }
    }
    .description{
      padding: 0 25px;
      p{
        text-align: justify;
        font-family: 'Ubuntu', sans-serif;
        text-transform: uppercase;
        font-size: 12px;
        line-height: 1.5;
        margin-bottom: 15px;
      }
      ul{
        margin-bottom: 20px;
        li {
          display: flex;
          align-items: center;
          margin-bottom: 10px;

          img {
            width: 27px;
            margin-right: 15px;
          }
        }
      }
    }
    .line{
      background: #C3AB93;
      color: #fff;
      padding: 6px 0;
      text-align: center;
      margin-bottom: 15px;
    }
    .buy{
      display: flex;
      flex-direction: column;
      align-items: center;
      .price-wrapper{
        font-weight: 300;
        font-family: 'Ubuntu', sans-serif;
        font-size: 29px;
        margin-bottom: 12px;
        position: relative;
        &.with-old{
          padding-top: 20px;
        }
        .r{
          font-family: "Helvetica-Cyrillic", "Helvetica", "Helvetica Neue", sans-serif;
        }
        .old{
          position: absolute;
          right: 10px;
          font-size: 25px;
          bottom: 30px;
          text-decoration: line-through;
        }
        .new{
          color: #901f1f;
        }
        b{
          font-family: 'Ubuntu', sans-serif;
        }
      }
      a{
        display: flex;
        font-size: 19px;
        padding: 9px 40px;
        color: #fff;
        //background: #C5976A;
        background: #e40713;
        align-items: center;
        justify-content: center;
        border: unset;
        margin-bottom: 30px;
      }
    }
  }

  #coordination.course .picture {
    background-image: url("img/course1.png");

  }

  #improvisation.course .picture {
    background-image: url("img/course2.png");
  }

  #upgrade.course .picture {
    background-image: url("img/course3.png");
  }

  #facture.course .picture {
    background-image: url("img/course4.png");
  }

}

#feedback{
  background-image: url("./img/feedback-bg.jpg");
  padding: 50px 25px;
  .form{
    display: flex;
    flex-direction: column;
    padding: 40px 30px 30px;
    background-color: rgba(75, 75, 75, 0.9);
    color: #fff;

    h2{
      margin-bottom: 20px;
    }

    .description{
      margin-bottom: 20px;
    }

    input{
      height: 30px;
      padding-left: 10px;
    }
    input + input{
      margin-top: 20px;
    }

    button{
      margin-top: 20px;
      display: flex;
      background: transparent;
      color: #fff;
      border-color: #fff;
      padding: 10px;
      width: 100px;
      justify-content: center;
    }
  }
}

.contacts{
  margin-top: 40px;
  p{
    padding: 10px 0px;
  }

  a{
    color: white;
  }
}
